body{
    /* background-color: cadetblue; */
    margin: 0px;
    text-align: center;
    font-family: 'Merriweather', serif;
    /* font-size: 200%; */
    /* em is more bigger  rem =root em means ignore parents applied 1em=16px */
}
h1
{
    /* width: 10%; */
    margin: 50 auto 0 auto;  /*we can put things in center go mdn margin for more detail*/
    /* margin: 0 auto 0 auto;  we can put things in center go mdn margin for more detail */
    /* or */
    /* margin: 0 auto ;   */
    font-family: 'Sacramento', cursive;
    font-size: 5.625rem;
    /* here both 2+5.625 are added */
    color:#66BFBF;
    line-height: 2;

}

h2
{
    font-family: 'Montserrat', sans-serif;
    color:#66BFBF;
    font-weight: normal;
    
}
h3
{
    font-family: 'Montserrat', sans-serif;
    color:#11999E;
    
    
}
/* display: block ---> will not let any other element cm in its line 
inline ---> will  let any other element cm in its line
inline-block ----> will  let also not  any other element cm in its line by giving width and height 
none--> it will disappear element by removing none element will cm back 
visibility hidden-->it will disappear element by removing none element will cm back but it will also keep its space
we will get to know any element is there
            visibility reappear works opposite to  visibility hidden
            
            */
            
            /* 
            Position
            Static ---> all element are default in static position
            Relative --> it will shift element from its last position a/q to coordinate L R T B & value 
            it will never effect other element it will over lap coming element in its way
            Absolute --> it will shift element relative to its parent.
            it will never effect other element it will over lap coming element in its way
            Fixed -----> it will fix position of element.
            */
            
            
            .top
            {
                background-color: #E4F9F5;
                position: relative;
                padding-top: 100px;
            }
.middle-container
{
    margin: 100px 0 0;
}
.bottom-container
{
    background-color: #66BFBF;
    padding: 50px 0 20px;
    /* height: 90vh; */
}

.pro{
    text-decoration: underline;
}
.programmer{
    font-size: 4.5rem;
    font-family: 'Comforter', cursive;}
.top_cloud
{
    position: absolute;
    right: 300px;
    top: 50px;
}

.bottom_cloud
{
    position: absolute;
    left: 250px;
    bottom: 300px;
}

.skill-row{
    width: 50%;
    margin: 100px auto 100px auto;
    text-align: left;
}
.si{
    width: 25%;
    float: left;    /* float is used to make text wrap around image*/
    margin-right: 30px;
}

.hi{
    width: 20%;
    float: right;    /* float is used to make text wrap around image*/
    margin-right: 60px;
    /* margin-left: 30px; */
}

.skill_description{
    /* clear: left; */
}

.intro{
    width: 30%;
    margin: auto;
}
p{
    line-height: 2;
}

hr{
    border: dotted #2eacac 6px;
    border-bottom: none;
    width: 4%;
    margin: 100px auto;
}
.cntct-msg{
    width: 40%;
    margin: 40px auto 60px;
}

a
{
    color: #11999E;
    font-family: 'Montserrat' sans-serif;
    margin: 10px 20px;
    text-decoration: none;

}
a:hover{
    color: #EAF6F6;
}

.copyright{
    color: #EAF6F6;
    font-size: 0.75rem;
    padding: 20px 0;
}
.btn {
    background: #11cdd4;
    background-image: -webkit-linear-gradient(top, #11cdd4, #11999e);
    background-image: -moz-linear-gradient(top, #11cdd4, #11999e);
    background-image: -ms-linear-gradient(top, #11cdd4, #11999e);
    background-image: -o-linear-gradient(top, #11cdd4, #11999e);
    background-image: linear-gradient(to bottom, #11cdd4, #11999e);
    -webkit-border-radius: 8;
    -moz-border-radius: 8;
    border-radius: 8px;
    font-family: 'Montserrat', sans-serif;
    color: #ffffff;
    font-size: 20px;
    padding: 10px 20px 10px 20px;
    text-decoration: none;
}

.btn:hover {
    background: #30e3cb;
    background-image: -webkit-linear-gradient(top, #30e3cb, #2bc4ad);
    background-image: -moz-linear-gradient(top, #30e3cb, #2bc4ad);
    background-image: -ms-linear-gradient(top, #30e3cb, #2bc4ad);
    background-image: -o-linear-gradient(top, #30e3cb, #2bc4ad);
    background-image: linear-gradient(to bottom, #30e3cb, #2bc4ad);
    text-decoration: none;
}
